---
import CoreLayout from "./CoreLayout.astro";
import Background from "../components/layout/Background.astro";
import AdminSidebar from "../components/admin/AdminSidebar.astro";
import AdminNavbar from "../components/admin/AdminNavbar.astro";
import UnsavedChangesModal from "../components/ui/UnsavedChangesModal.astro";

interface Props {
    title?: string;
    description?: string;
}

const { title, description } = Astro.props;
---

<CoreLayout title={title} description={description}>
    <Background />
    <div class="flex min-h-screen relative z-10">
        <!-- Sidebar -->
        <AdminSidebar />

        <!-- Main content -->
        <main
            class="flex-grow flex flex-col min-w-0 md:ml-64 transition-all duration-300"
        >
            <!-- Topbar -->
            <AdminNavbar />

            <div class="flex-grow p-6 overflow-y-auto">
                <slot />
            </div>
        </main>

        <UnsavedChangesModal />
    </div>
</CoreLayout>

<script>
    import { authService } from "../lib/auth";

    const redirectToLogin = () => {
        if (!authService.isAuthenticated()) {
            window.location.replace("/login");
        }
    };

    redirectToLogin();
    window.addEventListener("pageshow", () => {
        redirectToLogin();
    });
</script>
