---
import PublicLayout from "./PublicLayout.astro";

interface Props {
  title: string;
  description?: string;
  image?: string;
  imageAlt?: string;
}

const { title, description, image, imageAlt } = Astro.props;
---

<PublicLayout title={title} description={description} image={image} imageAlt={imageAlt}>
  <div class="container-main py-8 md:py-10 min-h-screen">
    <slot />
  </div>
</PublicLayout>
