---
import CoreLayout from "./CoreLayout.astro";
import Navbar from "../components/layout/Navbar.astro";
import Footer from "../components/layout/Footer.astro";
import Background from "../components/layout/Background.astro";

interface Props {
  title?: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<CoreLayout title={title} description={description}>
  <Background />
  <Navbar />
  <main class="flex-grow pt-20">
    <slot />
  </main>
  <Footer />
  <script is:inline type="text/javascript">
    if (!window.__tawkLoaded) {
      window.__tawkLoaded = true;
      window.Tawk_API = window.Tawk_API || {};
      window.Tawk_LoadStart = new Date();
      (function () {
        const s1 = document.createElement("script");
        const s0 = document.getElementsByTagName("script")[0];
        s1.async = true;
        s1.src = "https://embed.tawk.to/69a116e24afa321c34c7932d/1jiek2piq";
        s1.setAttribute("charset", "UTF-8");
        s1.setAttribute("crossorigin", "*");
        s0.parentNode?.insertBefore(s1, s0);
      })();
    }
  </script>
</CoreLayout>
