---
import PrivateLayout from "../../../layouts/PrivateLayout.astro";
import AdminPageHeader from "../../../components/admin/AdminPageHeader.astro";
import { ContactsTable } from "../../../components/admin/contact/ContactsTable";
---

<PrivateLayout title="Contact Inbox">
  <div class="space-y-6">
    <AdminPageHeader
      title="Messages"
      description="Read and triage messages from the contact form."
    />

    <ContactsTable client:load />
  </div>
</PrivateLayout>
